*{
    color: rebeccapurple;
}

.eventdetails{
    padding: 5%;
    font-weight: bold;
    border: 3px solid rgb(4, 160, 4);
   
    background-color: rgb(248, 205, 166);
    border-radius: 10px;
}

.evname{
    color: rgb(0, 71, 0);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.btn-container{
    display: flex;
    justify-content: space-around;
}

.btn-container button {
    background-color: rgb(10, 135, 237);
    color: white;
    border-radius: 10px;
    right: 15%;
    top: 70vh;
    text-decoration: none;
  }


.button :disabled {
    background: #dddddd;
}

Link {
    color: white;
}