.nav2{
    display: "flex";
    justify-content: space-around;
    height: "6vh";
    align-items: center;

}



.nav-style {

        color: white !important;
        background: rgb(52, 145, 199);
        padding:10px;  
}
/*
ul {
    list-style:none;
    justify-content: space-around;
}
.nav2 {
    display: flex;
}

.nav3 {
    justify-content: space-around;
}

.navbarlink {
    color: white;
    font-weight: bold;
    margin: 15px;
    list-style-type: none;
}

.container{
    flex-direction: row;
    margin: 10px;

}*/