.nav-style {
        display: flex;
        justify-content: space-around;
        color: white !important;
        background: rgb(52, 145, 199);
        padding:10px;
        height: 6vh;
        align-items: center;
        
}

.navbarlink {
    color: white;
    font-weight: bold;
    flex-direction: row;
    margin: 15px;
    list-style-type: none;
}

.navbarlist{
    justify-content: space-around;
    margin: 10px;

}