.navbar{
    padding: 3vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00aff5;
    background-color: rgb(36, 187, 233);
  }
  
  .navbar ul{
    display: flex;
    list-style: none;
    
  }
  
  .navbarlink{
     color: white;
     font-size: 15px;
     font-weight: bold;
  }

  .navbar li{
    margin: 0 10px 0 15px;
    font-size: 1.5vw;
  }

  .navbar button {
    background-color: rgb(10, 135, 237);
    color: white;
    border-radius: 10px;
    right: 15%;
    top: 70vh;
  }




